/**
	Complete and organized CSS sheet
**/

body{
	background-color: #202E2E;
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
}

body>div{
	padding: 0px;
	margin: 0px;
}

a , a:hover , a:visited{
  text-decoration: none;
}

nav.navbar , nav.nav{
	background-color: #0CC5F3;
	color: white;
	padding: .2rem 1rem;
}





/* named class/id */

.dropdown-menu ,.material-shadow nav.navbar , nav.nav , .table{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-left{
	float: left;
	display: block;
	padding-left: 1vw;
	padding-right: 1vw;
}

.title-right{
	float: right;
	display: block;
	padding-left: 1vw;
	padding-right: 1vw;
}

.title-center-align{
	text-align: center;
	vertical-align: middle;
}

a.title-right{
	float: right;
}

.div-padding-top-bottom{
	padding-top: 1vw;
	padding-bottom: 1vw;
	display: inline-block;
}

.div-padding-top-bottom > div{
	display: inline-block;
}

.table{
	background-color: #333333
}

.table > tbody > tr > td > a.btn{
	display: inline-block;
	float: left;
	width: 50%;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 0;
	top: 0;
	bottom: 0;
}

.table td , .table th{
	border-top: 0;
}

.table > tbody > tr > td: nth-child(3) {
	padding: 0
}

.table > tbody > tr > td , .table > tbody > tr > th , .table > thead > tr > th{
	vertical-align: middle;
}

tr.table-unread{
	color: white;
	background-color:#3B453B;
}

div.table-hide-info{
	display: none;
	padding: 0;
}

div.table-hide-info-inner{
	left: 0%;
	bottom: 1%; 
	display: flex; 
	height: 25%; 
	max-width: 50%; 
	min-width: 40%; 
	background-color: #2A376F; 
	color: white; 
	position: fixed;
	flex-wrap:wrap;
}

div.table-hide-info-inner-img{
	height: 100% ; 
	flex: 1
}

div.table-hide-info-inner-img > img{
	height: 100%;
	width: auto;
}

div.table-hide-info-inner-desc{
	height: 100% ; 
	flex: 4;
	display: flex;
	flex-direction: column; 
	padding: 1%
}

div.table-hide-info-inner-desc > h4{
	padding: 0; 
	flex: 1
}

div.table-hide-info-inner-desc > p:first-child{
	flex: 3
}

div.table-hide-info-inner-desc > p:nth-child(2){
	flex: 1
}

.wrap-one-row{
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-align:justify;
}

.wrap-two-row{
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-align:justify;
}

.wrap-three-row{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-align:justify;
}