body{
	background-color: #202E2E;
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.iframebody{
	height: 500px;
	background-color: #364A52;
	padding: 0px;
	margin: 0px;
}

iframe{
	padding: 0px;
	margin: 0px;
	height: 500px;
	background-color: #364A52;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav.navbar{
	padding: 0px;
	margin: 0px;
	background-color: #BFFCFC;
	border-radius: 0px;
	color: #202E2E;
}
.sticky{
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

div.collapse{
	padding: 0px
}

.boldpress{
	font-weight: 600;
}

.updatediv{
	background-color: #B89CB6;
}

.titleHome{
	font-size: 30px;
	color: white;
	padding: 1vw;
}

.titleHomeSmall{
	font-size: 20px;
	color: white;
	margin: 1vw;
}

.box{
	margin:0px;
	padding: 0px
}

.box-margin-top{
	margin:0px;
	padding: 0px;
	margin-top: 0.5vw;
}

.friendbox{
	margin:0px;
	padding: 0px;
	background-color: #364A52;
	height: 500px;
}

.online{
	color: green;
}

.offline{
	color: gray;
}

.text-need-wrap{
	white-space: nowrap;
  	overflow: hidden;
}

.carousel, .slide{
	padding: 0px;
	padding-bottom: 1vw;
}


div.carousel > div.carousel-inner{
	padding: 0px;
	margin: 0px
}

.author-suggestionSection{
	width: 100%;
	padding: 0px;
	margin: 0px;
	display: flex;
}

.authorsection{
	flex-grow: 3;
	display: flex;
	flex-direction: column;
}

.suggestsection{
	flex-grow: 1;
}

.advertismentBlock{
	padding: 0px;
	margin: 0px;
	min-width: 949px;
	min-height: 20px;
}

.imgadv{
	width: 100%;
}

.subjectdiv{
	width: 100%;
	padding: 1.8%;
	background-color: grey;
	display: flex;

}

.subjectimg{
	flex-grow: 2;
}

.subjectdesc{
	flex-grow: 5;
	display: flex;
	flex-direction: column;
}

.sd-title{
	text-overflow: ellipsis;
	width: 100%;
	overflow: auto;
	padding: 0px;
}

.sd-desc{
	width: 100%;
	overflow: auto;
	text-overflow: ellipsis;
	height: 80px
}

.sd-desc > p{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height:20px;
	-webkit-line-clamp: 3; /* number of lines to show */
	-webkit-box-orient: vertical;
	text-align:justify;
}

.sd-more{
	width: 100%;
}

.sd-more > a {
	text-decoration: none;
}

.subjectfeature{
	flex-grow: 5;
}

.inner-box {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 255, 0.35)
}