body{
	background-color: #202E2E;
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body>div{
	padding: 0px;
	margin: 0px;
}

nav.navbar{
	padding: 0px;
	margin: 0px;
	background-color: #BFFCFC;
	border-radius: 0px;
	color: #202E2E;
}

.first-container{
	width: 100%;
	padding: 0px;
}

.mh-left-update-author-suggest{
	border: 0.5px solid black;
	background-color: transparent;
	padding: 0px;
}

.mh-inner-update{
	padding: 0.5vw;
}

.mh-inner-author-suggest{
	display: inline-block;
	padding: 0px;
	padding-bottom: 1vw;
	background-color: grey;
}

.mh-inner-author{
	padding: 0px;
}

.mh-right-friend-list{
	background-color: transparent;
}

.mh-big-title{
	font-size: 25px;
	color: white;
}

.advertisment{
	padding: 0px;
	padding-bottom: 1vw;
}

.mh-author-desc{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height:20px;
	-webkit-line-clamp: 4; /* number of lines to show */
	-webkit-box-orient: vertical;
	text-align:justify;
	height: 5vw;
}


