body{
	background-color: #202E2E;
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body>div{
	padding: 0px;
	margin: 0px;
}

nav.navbar{
	padding: 0px;
	margin: 0px;
	background-color: #BFFCFC;
	border-radius: 0px;
	color: #202E2E;
}

.abspadd{
  padding: 0px;
}

.first-container{
	width: 100%;
	padding: 0px;
}

.mh-left-update-author-suggest{
	background-color: transparent;
	padding: 0px;
}

.mh-inner-update{
	padding: 0px;
}

.mh-inner-author-suggest{
	display: inline-block;
	padding: 0px;
	background-color: grey;
}

.mh-inner-author{
	padding: 0px;
  display: inline-block;
}

.mh-inner-suggest{
  padding: 0px;
}

.mh-inner-suggest > a {
  padding: 0px;
}

.mh-inner-suggest >a > img{
  display: block;
  width: 100%;
  padding: 0px;
}

.mh-right-friend-list{
	background-color: transparent;
}

.mh-big-title{
	font-size: 25px;
	color: white;
}

.advertisment{
	padding: 0px;
	padding-bottom: 1vw;
}

.img-responsive{
  width: 100%;
}

.mh-author-desc{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height:20px;
	-webkit-line-clamp: 4; /* number of lines to show */
	-webkit-box-orient: vertical;
	text-align:justify;
	height: 5vw;
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #008CBA;
  opacity: 0.3;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.div-img-overlay{
  position: relative;
}

.div-img-overlay:hover .overlay {
  width: 100%;
}

.text-img-overlay {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.second-container{
    width: 100%;
    padding: 0px;
}

.mh-second-inner-topmanga{
  padding: 0.5vw;
  margin:0px;
  display:block;
}

.mh-second-inner-advertisment{

}

.mh-second-inner-topmanga-header{
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
}

.mh-second-inner-topmanga-manga{
  padding: 0.5vw;
  margin: 0px;
}

.mh-second-inner-topmanga-header > h2{

}

.mh-second-inner-topmanga-header > a{
  text-decoration: none;
}

.top-manga{
  display: flex;
  color: white;
}

.top-manga-img{
  flex: 2;
}

.top-manga-desc{
  flex: 3;
  padding-left: 1vw;
  padding-right: 1vw;
}

.top-manga-desc > h4{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height:20px;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-align:justify;
}

.top-manga-desc > p{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height:20px;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-align:justify;
}

.mh-second-inner-topmanga-manga > div {
  padding: 0px;
}

.top-manga-left{
  flex: 1;
}

.top-manga-right{
  flex: 2;
  display: flex;
  display: 
}

div.polaroid {
  background-color: white;
  padding: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.polaroid > img {
  width: 100%;
}

div.text-on-img {
  text-align: center;
  padding: 10px 20px;
}











@media all and (min-width: 992px) {
  .carousel-move .carousel-inner > .active.left,
  .carousel-move .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-move .carousel-inner > .active.right,
  .carousel-showsixmoveone .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-move .carousel-inner > .left,
  .carousel-move .carousel-inner > .prev.right,
  .carousel-move .carousel-inner > .active {
    left: 0;
  }
  .carousel-move .carousel-inner .cloneditem-3,
  .carousel-move .carousel-inner .cloneditem-4,
  .carousel-move .carousel-inner .cloneditem-5 {
    display: block;
  }
}

@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-move .carousel-inner > .item.active.right,
  .carousel-move .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
            transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-move .carousel-inner > .item.active.left,
  .carousel-move .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
            transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-move .carousel-inner > .item.left,
  .carousel-move .carousel-inner > .item.prev.right,
  .carousel-move .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.carousel-move .cloneditem-1,
.carousel-move .cloneditem-2,
.carousel-move .cloneditem-3, {
  display: none;
}
.carousel-move .carousel-control {
  width: 4%;
  background-image: none;
}
