extends layout

block content
  .error-body.div-center-content
    h1 ERROR 404: Opps! We cannot find this site.
    a(href='./', class='btn btn-block btn-warning col-sm-6 col-xs-12', style='padding:0')
        h3 Back to homepage
