extends layout

block content
    form(action='/login', method='post')
        input(type='text', name='username', placeholder='Enter your Email here.')
        input(type='password', name='password',placeholder='Enter your Password here.')
        button(type='submit') Submit
