body{
  background-color: #202E2E;
  padding: 0px;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a , a:hover , a:visited{
  text-decoration: none;
}

body>div{
  padding: 0px;
  margin: 0px;
}

nav.navbar{
  padding: 0px;
  margin: 0px;
  background-color: #0CC5F3;
  border-radius: 0px;
  color: white;
}

.login-main-div{
  display: block;
  padding: 5%;
}

/* Title */
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
}

/* Link */
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.material-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border:0px;
}

a.material-shadow{
  border-radius: 0;
}

.abspadd{
  padding: 0px;
}

.first-container{
  width: 100%;
  padding: 0px;
}

.mh-left-update-author-suggest{
  background-color: transparent;
  padding: 0px;
}

.mh-inner-update{
  padding: 0px;
}

.mh-inner-author-suggest{
  display: inline-block;
  padding: 0px;
  background-color: white;
  color:black;
}

.mh-inner-author{
  padding: 0px;
  background-color: transparent;
  display: inline-block;
}

.mh-inner-suggest{
  padding: 0px;
}

.mh-inner-suggest > a {
  padding: 0px;
}

.mh-inner-suggest >a > img{
  display: block;
  width: 100%;
  padding: 0px;
}

.mh-right-friend-list{
  background-color: transparent;
}

.mh-big-title{
  font-size: 25px;
  color: white;
}

.advertisment{
  padding: 0px;
  padding-bottom: 1vw;
}

.img-responsive{
  width: 100%;
}

.mh-author-desc{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height:20px;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-align:justify;
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f0ad4e;
  opacity: 0.7;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.div-img-overlay{
  position: relative;
}

.div-img-overlay:hover .overlay {
  width: 100%;
}

.text-img-overlay {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.second-container{
  width: 100%;
  padding: 0px;
}

.mh-second-inner-topmanga{
  padding: 0.5vw;
  margin:0px;
  display:block;
}

.mh-second-inner-advertisment{
  padding: 0px;
}

.mh-second-inner-topmanga-header{
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
}

.mh-second-inner-topmanga-manga{
  padding: 0.5vw;
  margin: 0px;
}

.mh-second-inner-topmanga-header > h2{

}

.mh-second-inner-topmanga-header > a{
  text-decoration: none;
}

.top-manga{
  display: flex;
  color: white;
}

.top-manga-img{
  flex: 2;
}

.top-manga-desc{
  flex: 3;
  padding-left: 1vw;
  padding-right: 1vw;
}

.top-manga-desc > h4{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height:20px;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-align:justify;

}

.wrap-one-row{
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-align:justify;
}

.wrap-three-row{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-align:justify;
}

.top-manga-desc > p{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height:20px;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-align:justify;
}

.mh-second-inner-topmanga-manga > div {
  padding: 0px;
}

.top-manga-left{
  flex: 1;
}

.top-manga-right{
  flex: 2;
  display: flex;
}

div.polaroid {
  background-color: white;
  padding: 0px;
  margin-bottom: 25px;
}

div.polaroid:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.polaroid > img {
  width: 100%;
}

div.text-on-img {
  text-align: center;
  padding: 5px 10px;
}
@media all and (min-width: 992px) {
  .carousel-move .carousel-inner > .active.left,
  .carousel-move .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-move .carousel-inner > .active.right,
  .carousel-showsixmoveone .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-move .carousel-inner > .left,
  .carousel-move .carousel-inner > .prev.right,
  .carousel-move .carousel-inner > .active {
    left: 0;
  }
  .carousel-move .carousel-inner .cloneditem-3,
  .carousel-move .carousel-inner .cloneditem-4,
  .carousel-move .carousel-inner .cloneditem-5 {
    display: block;
  }
}

@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-move .carousel-inner > .item.active.right,
  .carousel-move .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-move .carousel-inner > .item.active.left,
  .carousel-move .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-move .carousel-inner > .item.left,
  .carousel-move .carousel-inner > .item.prev.right,
  .carousel-move .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.carousel-move .cloneditem-1,
.carousel-move .cloneditem-2,
.carousel-move .cloneditem-3,
.carousel-move .cloneditem-4,
.carousel-move .cloneditem-5 {
  display: none;
}

.carousel-move .carousel-control {
  width: 4%;
  background-image: none;
}

.home {
  font-size: medium;
  color:#686BE9;
}
.option-read{
  padding:10px 17px;
  width: 100%;
  height:50px;
  background-color: #AB9F9F ;

}
.select-chapter{
  border: 1px;
  float: left;
  border-color: #5044EC;
  width: 450px;
  height: 35px;
}
.clear{
  clear: both;
}

/*.h2 {
  float: left;
  margin-top:  5px;
  margin-left: 10px;
  margin-bottom: 5px;
font-family: Futura,"Trebuchet MS",Arial,sans-serif;
font-style: normal;
font-size: 25px;
font-weight: 100;
color: #B6A4A4;
}
input[name=report-error]{
    background-color:  #ECAA0D;
    color: white;
    height: 35px;
    width: 80px;
    padding: auto;
    margin-left: 10px;
    float: left;
  border-radius: 5px;
}*/
.body-block{
  width: 100%;
  position: relative;
}
.container{
  width: 100%;
  height: 50%;
  padding: 0px;
  overflow: auto;
}
div#sidetool{
  width: 14.5%;
  max-height: 300px;
  padding: 5px 5px 0 5px;
  background:#0CC5F3;
  position: absolute;

}
#content{
  overflow: auto;
  width: 70%;
  height: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#cmt-section{
  max-width: 70%;
  max-height: 600px;
  color: white;
  margin:auto;
  position:absolute;
  top:0; left:0; right:0; bottom:0;
  background:#9BFB34;
}

.cmt-container{
  width: 100%;
  max-height: 300px;
  padding: 10px;
  background: #C7EF8E;
  margin:0 auto;

}

.trang-truoc.trang-sau{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color:black;
}


/*--affiliate assets-*/

.myButt {
  margin-left: 0px;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
  font-size: 20px;
  border: 2px solid #fff;
  background-color: transparent;
  position: relative;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  width: 100%;
  height: 500px
}

.one {
  padding: 0;
  margin: 0;
  border-color: #fff;
  overflow: hidden;
  color: #fff;
}

.one:hover {
  padding: 0;
  margin: 0;
  border-color: #fff;
  color: #fff;
}
.myButt.slideUp {
  margin-top: 0px;
  height:0px;
  border: none;
}
.team{
  margin-left: 4%;
  margin-top: 50px;

  margin-right: 4%;
}
.team .translator{
  margin-right: 0%;
}
.form-hide{

  margin-bottom: 0px;
  height:0px;
}

/*--end affiliate assets-*/




/*--LOGIN SECTION-*/
.login-btn{
  font-family: 'Raleway', sans-serif;
  background-color: #0CC5F3;
  color: white;
}

.login-btn:hover{
  background-color: #0ca7ce;
  color: white;
}

.rememberme-text{
  color: white;
  padding-right: 1vw;
  padding-left: 0.5vw;
  border-right: 1px solid white;
}

.errorlogintext{
  padding-left: 1vw;
  color: red
}

#login_form{
  -webkit-transition: width 2s; /* Safari */
  transition: 1s;
  opacity: 0.5;
}

#login_form > form{
  border: 1px solid #517777;
  border-radius: 20px;
  padding: 10%;
  background-color: #517777;
}

#login_form > form > h2{
  color: #0CC5F3;
  padding: 0px;
  margin: 0px;
}

#login_form > form > div{
  padding-top: 0.5vw;
}

#login_form > form > div > input.form-control{
  width: 100%
}

#login_form:hover{
  opacity: 1;
}

#register_form{
  -webkit-transition: width 2s; /* Safari */
  transition: 1s;
  opacity: 0.5;
}

#register_form > img{
  border-radius: 10px;
}

#register_form > button.div-center-content{
  max-width: 20%;
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

#register_form:hover{
  opacity: 1;
}



/* ETC (error message) */

.error-body.div-center-content{
  font-family: 'Raleway', sans-serif;
  background-color: #202E2E;
  color: #636b6f;
  position: absolute;
}

.div-center-content{
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div-middle-content{
  position: relative;
  float: left;
  left: 60%;
  transform: translate(-60%);
}


#UpManga_form{
  -webkit-transition: width 1s; /* Safari */
  transition: 1s;
  opacity: 0.5;
}

/*.tag-editor tags {
  border-color: #d3d9dd;
  border-radius: 3px;
  padding: 5px 5px 1px 5px;
  min-height: 79px;
}

tags {
  display: block;
  border: 1px solid #DDD;
  padding-right: 0.3em 0.5em;
  cursor: text;
  overflow: hidden;
}
*/
.mangaimg{
  width: 1000px;
  margin-top: 1vw;
}